body {
    background-color: #212529;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    background-color: #343a40;
    font-size: 40px;
    color: white;
    padding: 10px;
    border: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 10px solid #495057;
}


.todoForm {
    width: 400px;
    height: 100px;
    border: 2px solid #495057;
    border-radius: 15px;
    margin: 40px auto 20px 20px;
    /* margin-top: 40px;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: auto; */
    padding: 30px;
    display: flex;
    align-items: center;
}

.todoInput {
    width: 200px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    margin: auto;
    margin-right: 30px;
    padding: 3px;
    border: 2px solid #343a40;
    border-radius: 8px;
}

.todoButton {
    width: 100px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    margin: auto;
    padding: 3px;
    border: 2px solid #343a40;
    border-radius: 8px;
    background-color: #495057;
}

.todoButton:hover {
    cursor: pointer;
    background-color: #868e96;
    transition: all 0.3s ease;
}

/* TodoList */

.todoItem {
    width: 400px;
    height: 100px;
    border: 2px solid #495057;
    border-radius: 15px;
    margin: 40px 20px 20px auto;
    padding: 30px;
    display: flex;
    align-items: center;
}

.todoName {
    text-align: center;
    display: block;
    width: 200px;
    margin: auto;
    margin-right: 30px;
    padding: 3px;
    color: white;
    font-size: 20px;
}

.todoDone {
    width: 100px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    margin: auto;
    padding: 3px;
    border: 2px solid #343a40;
    border-radius: 8px;
    background-color: #495057;
}

.todoDone:hover {
    cursor: pointer;
    background-color: #868e96;
    transition: all 0.3s ease;
}

.main {
    width: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
}